.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  margin-top: 1rem;
}

.pigeon {
  text-align: start;
  color: var(--light-primary);
  display: flex;
  flex-direction: column;
  span {
    color: var(--pigeon-primary);
  }
  h1 {
    font-size: 1.4rem;
    margin-bottom: .5rem;
    width: 12rem;
  }
  p {
    font-size: 1rem;
  }
  padding: 1rem;
}

.search-bar {
  font-family: inherit;
  font-size: 1rem;
  color: var(--light-primary);
  padding: .6rem 1rem;
  background-color: transparent;
  border-radius: 1.5rem;
  display: flex;
  margin-bottom: .5rem;
  width: 80%;

  i {
    margin-right: .5rem;
    color: var(--pigeon-primary);
  }

  input {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 1rem;
  }

  input:focus {
    outline: none;
    color: var(--light-primary);
  }

  input::placeholder {
    color: var(--dark-gray);
  }

  input:not(:focus) {
    color: var(--dark-gray);
  }
}