
:root {
    --dark-primary: #0A192B;
    --dark-secondary: #112D4E;
    --light-primary: #F5CCF6;
    --light-secondary: #DBC3FA;
    --pigeon-primary: #FC5185;
    --dark-gray: #597493;
    --light-gray: #596879;
    --blue-submarine: #1D4676;
    --light-marker: #f5e1f5;
    --dark-transparent: #0a192ba9;
    --pigeon-primary-hover: #e94b7a;
}

body {
    margin: 0;
    font-family: 'Lato';
    text-align: center;
    background-color: var(--dark-primary);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  h1,h2,h3,h4,h5,h6,p {
    margin: 0;
  }
  
  input:focus {
    outline: none;
  }

  textarea:focus {
    outline: none;
  }