.focus {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    height: auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 999999999;
    backdrop-filter: blur(0.5rem);
    background-color: var(--dark-transparent);
    color: var(--light-primary);
    flex-direction: column;
    .close {
        color: var(--light-secondary);
        font-size: 1.6rem;
        margin: 1rem 0rem;
    }
    .close:hover {
        color: var(--pigeon-primary);
        cursor: pointer;
    }
    .glass {
        padding: 1rem;
    }
}

.create_room {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    width: auto;
    max-width: 70rem;
    .room-form {
        border-radius: 1rem;
        width: auto;
        background-color: var(--dark-primary);
        .create-room-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            .room-image-icon {
                width: 5rem;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--dark-secondary);
                border-radius: 5rem;
                transition: .3s all ease-in;
                i {
                    color: var(--pigeon-primary);
                    font-size: 1.5rem;
                }
            }
           
            .room-image-icon:hover {
                opacity: 50%;
                cursor: pointer;
            }

            .room-title-icon {
                display: flex;
                align-items: flex-start;
                width: 75%;
                flex-direction: column;
                input {
                    padding: 0.5rem;
                    background-color: transparent;
                    color: var(--light-marker);
                    font-size: 1.5rem;
                    border: none;
                    width: 80%;
                    border-bottom: 1px solid var(--pigeon-primary);
                }
                input::placeholder {
                    color: var(--dark-gray);
                }
            }
        }
       
        .create-room-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                text-align: start;
                width: 90%;
                margin-bottom: 1rem;
            }
            textarea {
                color: var(--light-secondary);
                font-family: inherit;
                resize: none;
                background-color: transparent;
                border: none;
                width: 90%;
                font-size: 1.2rem;
                height: 4rem;
            }
            textarea::placeholder {
                color: var(--dark-gray);
            }
        }
        .create-room-footer {
            ul {
                display: flex;
                max-height: 7rem;
                margin-block: 0;
                margin-inline: 0;
                padding-inline: 0;
                margin-top: 1rem;
                justify-content: center;
                .members-list {         
                    display: flex;
                    margin-bottom: 1rem;
                    align-items: center;
                    img {
                        width: 3rem;
                        height: 100%;
                        margin-right: 1rem;
                        border-radius: 5rem;
                    }
                }
                .members-list:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .create_room {
        flex-direction: column;
        align-items: center;
    }
}
.contact-list {
    height: 100%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    div {
        background-color: var(--dark-secondary);
        border-radius: 1rem;
        h2 {
            padding: 1rem;
        }
        ul {
            list-style: none;
            margin: 0;
            margin-block: 0;
            margin-inline: 0;
            padding-inline: 0;
            padding-bottom: 1rem;
            li {
                display: flex;
                align-items: center;
                padding: 0rem 1.4rem 0rem 0rem;
                justify-content: space-between;
                transition: 0.2s all ease-in;
                div {
                    display: flex;
                    padding: 1rem;
                    .add-info {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0;
                        small {
                            color: var(--dark-gray);
                        }
                    }
                }
                i {
                    color: var(--light-primary);
                    font-size: 1.3rem;
                    transition: 0.3s all ease;
                }
                i:hover {
                    color: var(--pigeon-primary);
                }
            }
            li:hover {
                cursor: pointer;
                background-color: var(--dark-primary);
            }
        }
    }
    img {
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        border-radius: 5rem;
    }
    .submit-room {
        margin-top: 1rem;
        border: none;
        padding: .5rem 1rem;
        border-radius: 2rem;
        color: var(--light-primary);
        background-color: var(--pigeon-primary);
        span {
            font-size: 1.2rem;
        }
        
    }
    .add {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            margin-left: .5rem;
            font-size: 1.3rem;
        }
    }
    
    .submit-room:hover {
        cursor: pointer;
        background-color: var(--pigeon-primary-hover);

    }
}
@media (max-width: 769px) {
    .contact-list {
        margin-left: 0;
    }
}
.min {
    color: var(--light-secondary);
}


.contact-add {  
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    .contact-request-search {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        .input-search {
            display: flex;
            align-items: center;
            background-color: var(--dark-secondary);
            border-radius: 1rem;
            input {
                background-color: transparent;
                background-color: var(--dark-secondary);
                border: none;
                font-size: 1.1rem;
                padding: 1.3rem;
                border-radius: 0rem 1rem 1rem 0rem;
                color: var(--light-primary);

            }
            input::placeholder {
                color: var(--dark-gray);
            }
            i {
                background-color: var(--dark-primary);
                padding: 1.2rem;
                font-size: 1.5rem;
                border-radius: 1rem;
                color: var(--pigeon-primary);
            }
        }
        .contact-results {
            margin-top: 1rem;
            background-color: var(--dark-primary);
            height: 100%;
            display: flex;
            width: 100%;
            text-align: left;            
            p {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

            }
            .loading-circle {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
            border-radius: 1rem;
            color: var(--dark-gray);
        }
    }
    .request {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 2rem;
        div {
            background-color: var(--dark-primary);
            width: 100%;
            
        }
        input {
            background-color: transparent;
            background-color: var(--dark-primary);
            border: none;
            font-size: 1.1rem;
            padding: 1.3rem;
            border-radius: 1rem;
            color: var(--light-primary);
        }
        input::placeholder {
            color: var(--dark-gray);
        }
        input:disabled {
            opacity: 50%;
        }
        button {
            margin-top: 1rem;
            border: none;
            padding: 1rem 1.5rem;
            font-size: 1rem;
            background-color: var(--pigeon-primary);
            border-radius: 2rem;
            color: var(--light-primary);
            font-weight: 700;
            transition: .3s all ease;
        }
        button:disabled {
            opacity: 50%;
        }
        button:hover {
            cursor: pointer;
            background-color: var(--pigeon-primary-hover);
        }
    }
}

@media (max-width: 769px) {
    .contact-add {
        flex-direction: column;
        align-items: center;
        .request {
            margin: 0;
        }
        .contact-request-search {
            .contact-results {
                background-color: #0b1c30;
            }
        }
    }
}

.userResume {
    display: flex;
    width: 100%;
    padding: 1rem;
    .image-resume {
        img {
            width: 6rem;
            height: 6rem;
            border-radius: 100%;
            margin-right: 1rem;
        }
    }
    .resume-body {
        .resume-bio {
            color: var(--pigeon-primary);
            margin-top: .5rem;
        }
        .resume-description {
            display: table;
        }
        h3 {
            color: var(--light-primary);
            text-align: left;
        }
        p {
            justify-content: flex-start!important;
            color: var(--dark-gray);
        }
    }
}

.loading-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        margin-top: .5rem;
    }
}
.circle {
    background-color: var(--pigeon-primary);
    width: 2rem;
    height: 2rem;
}

.image-cropper-default {
    max-width: 100%;
    display: block;

    img {
        display: block;
        /* This rule is very important, please don't ignore this */
        max-width: 100%;
    }
}
.crop-contain {
    border-radius: 1rem;
}
.set-image {
    padding: .5rem 1rem;
    background-color: var(--pigeon-primary);
    color: var(--light-primary);
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    margin-top: 1rem;
    transition: .3s all ease-in-out;
}
.set-image:hover {
    cursor: pointer;
    background-color: var(--pigeon-primary-hover);
}

.cropper-modal {
    background-color: var(--dark-transparent);
}

.add-member-ui {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .current-contacts {
        padding: 1rem;
        background-color: var(--dark-primary);
        border-radius: 1rem;
        .current-user {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 1rem;
            img {
                width: 4rem;
                margin-right: 1rem;
                border-radius: 3rem;
            }
            h4 {
                font-size: 1.2rem;
            }
            p {
                color: var(--dark-gray);
            }
            div {
                text-align: left;
            }
        }
    }
}
@media (max-width: 769px) {
    .add-member-ui {
        flex-direction: column;
        align-items: center;
        .current-contacts {
            margin-bottom: 1rem;
        }
    }

}

.add-member-title {
    h1{
        font-size: 1.6rem;
    }
    h3{
        font-size: 2rem;
        color: var(--pigeon-primary);
        margin: 1rem 0rem;
    }
}

.current-scroll {
    max-height: 300px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    
}
.current-scroll::-webkit-scrollbar {
    display: none;
}