.notifications {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row-reverse;
}

.bells-scroll {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-x: hidden;
    .bellsContain {  
        display: flex;
        flex-direction: column-reverse;
    }
}

.bells-scroll::-webkit-scrollbar {
    overflow-y: hidden;
}

.bells {
    display: flex;
    border-radius: 1rem;
    justify-content: flex-end;
    flex-direction: column-reverse;
    position: absolute;
    top: 0px;
    right: 0;
    backdrop-filter: blur(0.5rem);
    background-color: var(--dark-transparent);
    z-index: 9999999;
    padding: 3rem 3rem 3rem 3rem;
    min-height: 80vh;
    max-height: 80vh;
    box-shadow: 0rem 0rem 8rem #0000002b;
    h3 {
        color: var(--light-primary);
    }
}

.bells-count {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    color: var(--light-primary);
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-weight: 700;
    position: absolute;
}
.bells-count:hover {
    cursor: pointer;
}
.bell-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 99999999;
    p {
        transition: .3s all ease-in-out;
    }
    i {
        cursor: pointer;
        font-size: 2.4rem;
        color: var(--pigeon-primary);
        transition: 0.3s all ease-in-out;
    }
    @media (max-width: 769px) {
        i {
            font-size: 2.1rem;
        }    
    }
}

.bell-icon:hover {
    i {
        color: var(--pigeon-primary-hover);
    }
}

.bell {
    display: flex;
    color: var(--light-primary);
    padding: 1rem;
    background-color: var(--dark-primary);
    border-radius: 1rem;
    margin-top: 1rem;
    transform: translate(-35px, 0px);
    img {
        width: 3rem;
        height: fit-content;
        border-radius: 100%;
        margin-right: 0.4rem;
    }
    .bell-body {
        text-align: left;
        p {
            transition: 0.2s all ease-in;
            margin-top: 0.2rem;
            font-size: 0.9rem;
            color: var(--light-secondary);
        }
    }
    button {
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
        border: none;
        color: var(--light-primary);
        border-radius: .5rem;
        background-color: transparent;
        border: 1px solid var(--blue-submarine);
        transition: .3s all ease-in-out;
    }
    button:hover {
        cursor: pointer;
        opacity: 70%;
    }
}

.bell:hover {
    cursor: pointer;
    .bell-body {
        p {
            color: var(--light-secondary);
        }
    }
}

.bells-clean {
    font-size: 1.1rem;
    color: var(--light-secondary);
    text-align: center;
    width: 100%;
    padding: 1rem 4rem 0rem 1rem;
}