.profile {
    border-radius: 1rem 0rem 0rem 1rem;
    background-color: var(--dark-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .profile-opts {
        display: flex;
        margin-left: 1rem;
        color: var(--light-primary);
        div {
            margin-left: .5rem;
            text-align: left;
        }
        p { 
            margin-left: .4rem;
            font-size: .9rem;
            display: flex;
            transition: .3s all ease;
            span {
                margin-right: .3rem;
            }
        }
        p:hover {
            cursor: pointer;
            color: var(--pigeon-primary);
        }
        h3 {
            display: flex;
            margin-bottom: .3rem;
            span {
                font-size: 1.3rem;
            }
        }
        span {
            color: var(--pigeon-primary);
        }
        img {
            width: 4rem;
            height: fit-content;
            border-radius: 100%;    
        }
    }
}
@media (max-width: 769px) {
    .profile {
        background-color: transparent;
        .profile-opts {
            align-items: center;
            img {
                margin-bottom: .5rem;
                width: 3rem;
            }
        }
        .notifications {
            margin: 0rem 1rem;
        }
    }
}
.settings-title {
    color: var(--light-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        color: var(--pigeon-primary);
        margin-left: .5rem;
    }
}

.profile_settings {
    padding: 1rem;
    background-color: var(--dark-primary);
    border-radius: 1rem;
    margin-top: 1rem;
    .profile-resume {
        display: flex;
        align-items: flex-start;
        .user-image-icon {
            width: 5rem;
            height: 5rem;
            margin-right: 1rem;
            border-radius: 4rem;
            transition: .3s all ease;
        }
        .user-image-icon:hover {
            opacity: 50%;
            cursor: pointer;
        }
        .profile-info {
            text-align: left;
            h3 {
                font-size: 1.6rem;
            }
            p {
                margin-top: .3rem;
            }
            i {
                color: var(--pigeon-primary);
                font-size: 1.4rem;
            }
        }
    }
    img {
        width: 5rem;
        margin-right: 1rem;
    }
}
@media (max-width: 769px) {
    .profile_settings {
        width: 90%!important;
    }
}
.profile-description {
    text-align: left;
    textarea {
        color: var(--light-secondary);
        font-family: inherit;
        resize: none;
        background-color: transparent;
        border: none;
        width: 90%;
        font-size: 1.2rem;
        height: 6rem;
    }
    textarea::placeholder {
        color: var(--dark-gray);
    }
    p {
        font-size: 1.2rem;
    }
}
.button-logout {
    padding: .5rem 1rem;
    border: none;
    background-color: var(--dark-secondary);
    color: var(--light-primary);
    font-size: 1rem;
    border-radius: .5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    transition: .3s all ease;
    i {
        color: var(--pigeon-primary);
        font-size: 1.4rem;
        margin-left: .3rem;
        transition: .3s all ease;
    }
}
.button-logout:hover {
    background-color: var(--pigeon-primary);
    color: var(--dark-primary);
    cursor: pointer;
    i {
        color: var(--dark-primary);
    }
}

.user-image-icon {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    border-radius: 4rem;
    .container-user {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4rem;
        height: 100%;
        backdrop-filter: brightness(0.5);
        transition: .3s all ease;
        i {
            color: var(--light-primary);
            font-size: 1.4rem;
    }
    }
    .container-user:hover {
        backdrop-filter: brightness(0.3);
    }
}
.user-image-icon:hover {
    opacity: 50%;
    cursor: pointer;
    background-color: var(--dark-primary);
}




.finish-settings {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--dark-primary);

    .finish-header {
        color: var(--light-primary);
        p {
            color: var(--dark-gray);
        }
        margin-bottom: 1rem;
    }
    .finish-container {
        display: flex;
        padding: 1rem;
        background-color: var(--dark-secondary);
        border-radius: 1rem;
        border-bottom: 2px solid var(--pigeon-primary);
        .finish-body {
            .control-container {
                text-align: left;
                margin: .5rem 0rem 1rem 0rem;
                small {
                    color: var(--pigeon-primary);
                    font-size: .8rem;
                }
            }
            .finish-control {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                p {
                    color: var(--light-primary);
                    font-size: 1.2rem;
                    text-transform: capitalize;
                }
                .input {
                    display: flex;
                    align-items: center;
              
                    i {
                        color: var(--pigeon-primary);
                        padding: .7rem 0rem .7rem .7rem;
                        background-color: var(--dark-primary);
                        font-size: 1.3rem;
                        border-radius: 1rem 0rem 0rem 1rem;
                    }                    
                }
                input {
                    background-color: var(--dark-primary);
                    border: none;
                    padding: .8rem;
                    border-radius: 0rem 1rem 1rem 0rem;
                    font-size: 1.1rem;
                    color: var(--light-primary);
                    font-family: inherit;
            
                }
                input::placeholder {
                    color: var(--dark-gray);
                }
                button {
                    background-color: var(--pigeon-primary);
                    border: none;
                    padding: .5rem 1rem;
                    color: var(--light-primary);
                    border-radius: 1rem;
                    font-size: .9rem;
                    font-family: inherit;
                }
            }
        }
    }
    @media (max-width: 400px) {
        .finish-container {
            width: 80%;
            flex-direction: column;
            align-items: center;
            .user-image-icon {
                margin: .5rem 0rem;
            }
            .finish-control {
                align-items: center!important;
            }
        }
    }
}
