.chat  {
    background: url("https://wallpaperaccess.com/full/31189.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    color: white;
    box-shadow: 0px 6px 16px #00000059;
    .chat_header {
        padding: 1rem;
        backdrop-filter: blur(11px);
        background-color: #00000045;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .chat-info {
            display: flex;
            align-items: center;
        }
        p {
            font-size: 1.3rem;
        }
        img {
            width: 70px;
            margin-right: 1rem;
        }
    }
}

.no-selected-chat {
    background-color: blueviolet;
    width: 100%;
    color: white;
    box-shadow: 0px 6px 16px #00000059;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 2rem;
    }
}