.messages {
    max-height: 30rem;
    overflow: scroll;
    .message {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start; 
        .user {
            margin: 0 .5rem .5rem .5rem;
            display: flex;
            align-items: center;
            img {
                border-radius: 100%;
                width: 40px;
                margin-right: .5rem;
            }
            
        }
        .text {
            img {
                width: 50%;
            }
            text-align: start;
            padding: .5rem 1rem;
            backdrop-filter: blur(.2rem);
            width: auto;
            background-color: rgba(255, 255, 255, 0.767);
            color: black;
            border-radius: .5rem;
            margin: 0px 1rem 0px 1rem;
        }
    }
    .right {
        align-items: flex-end;    
        .user {
            flex-direction: row-reverse;
            img {
                margin-left: .5rem;
            }
        } 

        .text {
            color: white;
            background-color: rgba(103, 80, 204, 0.767);
        }
            
    }
}