.notifications {
    padding: .5rem;
    display: flex;
    flex-direction: column-reverse;
    .bell {
        color: black;
        padding: 1rem;
        background-color: white;
        margin: 1rem 0rem;
        border-radius: 10px;
        display: flex;
        .bell-profile {
            text-align: left;
            margin-left: .4rem;
            font-size: .9rem;
            font-weight: bold;
        }
        .bell-content {
            margin-left: 1rem;
            width: max-content;
            .bell-options {
                text-align: right;
                margin-top: .5rem;
                .reject {
                    margin-left: .3rem;
                    background-color: rgb(230, 88, 88);
                }
            }
        }
        img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
    }

    .request {
        border-bottom: .3rem solid cornflowerblue;
    }

    .accepted {
    }

    .declined {
    }

    .announce {
    }

    .contact_added {
        border-bottom: .3rem solid lime;
    }

    .bells-count {
        color: blueviolet;
    }
}
