.profile {
    background-color: blueviolet;
    img {
        border-radius: 100%;
        border: 1px solid white;
    }
    .control {
        
    }

    h4 {
        span {
            color: black
        }
    }
}