.profile {
    img {
        border-radius: 100%;
        border: 1px solid white;
        width: 70px;
        margin-right: .5rem;
    }
    .profile-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    h4 {
        span {
            color: black
        }
    }
}