.rooms {
    .control {
        display: flex;
        flex-direction: column;
    }
    .list {
        padding: 1rem;
        .list-element {
            padding: 1rem;
            background-color: blueviolet;
            border-bottom: 1px solid white;
         }
    }
    .chat_icon {
        display: flex;
        padding: 1rem;
        align-items: center;
        background-color: blueviolet;
        border-radius: .5rem;
        margin-bottom: 1rem;
        transition: .3s all ease-in-out;
        img {
            width: 50px;
            margin-right: 1rem;
            border-radius: 100%;
        }
    }
    .chat_icon:hover {
        cursor: pointer;
        background-color: rgb(111, 38, 180);
    }
}